<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <title><%= event.title %> | Review System</title>
    </head>

    <body>
        <%- include('./partials/nav') %>

        <div class="container-md my-4 mx-auto max-w-75">
            <div class="container">
                <div>
                    <p class="h2" style="text-transform: uppercase"><%= event.title %></p>
                    <p class="h6 mb-3" ><small><em>Organizer : <%= event.createdBy?.fullName %></em></small></p>
                </div>
                <% if (locals.user) { %> <% if (user._id==event.createdBy._id) { %>
                <div class="mb-4">
                    <a class="delete" href="/event/delete/<%= event._id %>">Delete</a>
                </div>
                <% } %> <% } %>
            </div>

            <div class="container">
                <p class="mt-4"><%= event.body %></p>
            </div>

            <div class="container mt-4 border-top pt-4">
                <p class="h4">
                    Reviews <% if (reviews.length) { %> (<%= reviews.length %>) <% } %>
                </p>

                <% if (event.registerUser.includes(user?._id)) { %>
                <form action="/review/<%= event._id %>" method="post" autocomplete="off">
                    <div class="my-3">
                        <input
                            type="text"
                            class="form-control"
                            id="content"
                            name="content"
                            placeholder="Review here..." required/>
                    </div>
                    <div class="my-3">
                        <label class="form-label" for="registrationRating"
                            >Registration Rating :
                        </label>
                        <input
                            type="radio"
                            id="registrationRating1"
                            name="registrationRating"
                            value="1"
                            class="form-check-input"/>
                        <label class="form-label" for="registrationRating1">1</label>
                        <input
                            type="radio"
                            id="registrationRating2"
                            name="registrationRating"
                            value="2"
                            class="form-check-input" />
                        <label class="form-label" for="registrationRating2">2</label>
                        <input
                            type="radio"
                            id="registrationRating3"
                            name="registrationRating"
                            value="3"
                            class="form-check-input" />
                        <label class="form-label" for="registrationRating3">3</label>
                        <input
                            type="radio"
                            id="registrationRating4"
                            name="registrationRating"
                            value="4"
                            class="form-check-input" />
                        <label class="form-label" for="registrationRating4">4</label>
                        <input
                            type="radio"
                            id="registrationRating5"
                            name="registrationRating"
                            value="5"
                            class="form-check-input" />
                        <label class="form-label" for="registrationRating5">5</label>
                    </div>
                    <div class="my-3">
                        <label class="form-label" for="eventRating">Event Rating : </label>
                        <input
                            type="radio"
                            id="eventRating1"
                            name="eventRating"
                            value="1"
                            class="form-check-input" />
                        <label class="form-label" for="eventRating1">1</label>
                        <input
                            type="radio"
                            id="eventRating2"
                            name="eventRating"
                            value="2"
                            class="form-check-input" />
                        <label class="form-label" for="eventRating2">2</label>
                        <input
                            type="radio"
                            id="eventRating3"
                            name="eventRating"
                            value="3"
                            class="form-check-input" />
                        <label class="form-label" for="eventRating3">3</label>
                        <input
                            type="radio"
                            id="eventRating4"
                            name="eventRating"
                            value="4"
                            class="form-check-input" />
                        <label class="form-label" for="eventRating4">4</label>
                        <input
                            type="radio"
                            id="eventRating5"
                            name="eventRating"
                            value="5"
                            class="form-check-input" />
                        <label class="form-label" for="eventRating5">5</label>
                    </div>
                    <div class="my-3">
                        <label class="form-label" for="breakfastRating">Breakfast Rating : </label>
                        <input
                            type="radio"
                            id="breakfastRating1"
                            name="breakfastRating"
                            value="1"
                            class="form-check-input" />
                        <label class="form-label" for="breakfastRating1">1</label>
                        <input
                            type="radio"
                            id="breakfastRating2"
                            name="breakfastRating"
                            value="2"
                            class="form-check-input" />
                        <label class="form-label" for="breakfastRating2">2</label>
                        <input
                            type="radio"
                            id="breakfastRating3"
                            name="breakfastRating"
                            value="3"
                            class="form-check-input" />
                        <label class="form-label" for="breakfastRating3">3</label>
                        <input
                            type="radio"
                            id="breakfastRating4"
                            name="breakfastRating"
                            value="4"
                            class="form-check-input" />
                        <label class="form-label" for="breakfastRating4">4</label>
                        <input
                            type="radio"
                            id="breakfastRating5"
                            name="breakfastRating"
                            value="5"
                            class="form-check-input" />
                        <label class="form-label" for="breakfastRating5">5</label>
                    </div>
                    <div class="my-3">
                        <label class="form-label" for="overallRating">Overall Experience : </label>
                        <input
                            type="radio"
                            id="overallRating1"
                            name="overallRating"
                            value="1"
                            class="form-check-input" />
                        <label class="form-label" for="overallRating1"> 1</label>
                        <input
                            type="radio"
                            id="overallRating2"
                            name="overallRating"
                            value="2"
                            class="form-check-input" />
                        <label class="form-label" for="overallRating2"> 2</label>
                        <input
                            type="radio"
                            id="overallRating3"
                            name="overallRating"
                            value="3"
                            class="form-check-input" />
                        <label class="form-label" for="overallRating3"> 3</label>
                        <input
                            type="radio"
                            id="overallRating4"
                            name="overallRating"
                            value="4"
                            class="form-check-input" />
                        <label class="form-label" for="overallRating4"> 4</label>
                        <input
                            type="radio"
                            id="overallRating5"
                            name="overallRating"
                            value="5"
                            class="form-check-input" />
                        <label class="form-label" for="overallRating5"> 5</label>
                    </div>
                    <button type="submit" class="btn btn-sm btn-outline-primary">Submit</button>
                </form>
                <% } else { %>
                <p class="h4">
                    Write Your Review...
                    <small class="form-text text-muted" style="font-size: x-small"
                        >(Only Register User can Write Review)</small
                    >
                </p>
                <% } %>
                <div class="mt-4">
                    <% reviews.forEach((review)=> { %>
                        <div class="mb-3 d-flex flex-row">
                            <span class="ps-3">
                                <p class="mb-0"><strong> <%= review.createdBy.fullName %> </strong></p>
                                <p class="mb-0"><%= review.content %></p>
                                <div class="mt-3">
                                    <p class="mb-1">Registration Rating : <%= review.registrationRating %> out of 5</p>
                                    <p class="mb-1">Event Rating : <%= review.eventRating %> out of 5</p>
                                    <p class="mb-1">Breakfast Rating : <%= review.breakfastRating %> out of 5</p>
                                    <p class="mb-1">Overall Rating : <%= review.overallRating %> out of 5</p>
                                </div>
                                <% if (locals.user) { %>
                                    
                                <div style=" width: 100%; display: flex; justify-content: space-between">
                                   
                                    <% if ( review.likes.includes(user?._id)) { %>
                                        
                                        <a href="/review/like/<%= review._id %>" class="btn btn-primary btn-sm">
                                            Liked <%= review.likes?.length %>
                                        </a>
                                    <% } else { %>
                                        <a href="/review/like/<%= review._id %>" class="btn btn-outline-primary btn-sm">
                                            Like <%= review.likes?.length %>
                                        </a>
                                    <% } %>
                                    <% if (review.reports.includes(user?._id)) { %>
                                        <a href="/review/report/<%= review._id %>" class="btn btn-danger btn-sm">
                                            Reported 
                                        </a>
                                    <% } else { %>
                                        <a href="/review/report/<%= review._id %>" class="btn btn-outline-danger btn-sm">
                                            Report 
                                        </a>
                                    <% } %>                                    
                                </div>
                              

                                <% } %>
                                <div class="mt-3">
                                    <% if (review.organizerResponse.length) { %> 
                                        <div >
                                            <% review.organizerResponse.forEach(res => { %>
                                                <p ><em><small style="font-weight: 500;"><%= event.createdBy.fullName %> (Organizer) Replied : </small> <%= res %></em></p>
                                            <% }) %>
                                        </div>
                                    <% } %>
                                    <% if(user?.role === "ORGANIZER" ) {%>
                                        <form  action="/review/response/<%= review._id %>" method="post" autocomplete="off">
                                            <input  type="text" name="organizerResponse" class="form-control mb-2" placeholder="Write Your Response..." required >
                                            <button type="submit"  class="btn btn-outline-info btn-sm">Respond</button>
                                        </form>
                                            
                                    <% } %> 
                                </div>
                            </span>
                            <% if (review.reports.length > 5) { %>
                                <div>
                                    <button class="btn btn-outline-danger btn-sm">Flagged</button>
                                </div>
                             
                            <% } %>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>

        <%- include('./partials/scripts') %>
    </body>
</html>